/* rangeElement v0.1.0 - Copyright (c) 2010 - 2015 BelVG LLC. (http://www.belvg.com) */
.range-input-element-wrap {
  position: relative;
}
.range-input-element-wrap .type-number {
    background-color: transparent;
    position: absolute;
    right: 15px;
    width: 40px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
}
.range-input-element-wrap .type-number:hover {
    color: #2db1b3;
}
.range-input-element-wrap .plus {
    top: 0;
    line-height: 28px;
}
.range-input-element-wrap .minus {
    bottom: 0;
    line-height: 14px;
}